$mainFont: Manrope, sans-serif;
$forOneTimeFont: Inter, sans-serif;
$mainColor: #fdd170;
$mainTextColor: #191b1d;

@media (min-width: 1280px) and (max-width: 1440px) {
  .fox {
    &-anim {
      canvas {
        left: -200px;
        top: 0px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  // work
  .work {
    margin: 50px 0;
    &-title {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 30px;
    }

    &-text {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .fox {
    &-anim {
      canvas {
        left: -100px;
        top: 50px;
      }
    }
  }

  .form {
    &-block {
      justify-content: space-between;
    }

    &-layout {
      width: 60%;
      margin-right: 50px;
    }
  }

  .tab {
    &-block {
      justify-content: space-between;
    }

    &-layout {
      width: 60%;
      padding: 40px;
      margin-left: 50px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    .test-title {
      font-size: 65px;
      line-height: 60px;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .test-executor {
      font-weight: 600;
      font-size: 20px;
      line-height: 38px;
    }
  }

  .work {
    margin: 50px 0;
    &-title {
      font-size: 36px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 30px;
    }

    &-text {
      max-width: 450px;
      font-size: 17px;
      line-height: 20px;
    }
  }

  .fox {
    &-block {
      justify-content: space-between;
    }

    &-anim {
      canvas {
        position: absolute;
        left: -100px;
        top: 150px;
      }
    }
  }

  .card {
    &-block {
      justify-content: space-between;
      vertical-align: top;
    }

    &-wrapper {
      margin-left: 40px;
      width: 300px;
    }
  }

  .form {
    &-block {
      justify-content: space-between;
    }

    &-layout {
      margin-right: 30px;
      width: 400px;
    }
  }

  .tab {
    &-block {
      justify-content: space-between;
    }

    &-layout {
      display: block;
      width: 400px;
      padding: 40px;
      margin-left: 30px;
    }

    &-switch {
      display: flex;
      justify-content: center;
      &-btn {
        height: 50px;
        padding: 12px 30px;
        font-size: 15px;
        line-height: 24px;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          background-color: #f4f4f4;
          color: $mainTextColor;
        }
      }

      &-content {
        margin-left: 0px;
        display: none;
      }
    }
  }
  .accordion {
    li {
      padding: 0;
      width: 100%;
    }

    &-title {
      font-size: 13px;
      line-height: 14px;
    }

    &-text {
      font-size: 12px;
      line-height: 15px;
      display: none;
      max-width: 240px;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 90%;
    width: 300px;
    max-width: 320px;
    margin: 0 auto;
  }

  .btn {
    width: 100%;
    margin: 0 auto;
  }

  // intro
  .intro {
    .test-title {
      font-size: 65px;
      line-height: 60px;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .test-executor {
      font-weight: 600;
      font-size: 20px;
      line-height: 38px;
    }
  }

  // work
  .work {
    margin: 50px 0;
    &-title {
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 30px;
    }

    &-text {
      font-size: 16px;
      line-height: 20px;
    }
  }

  // fox
  .fox {
    &-block {
      display: block;
    }

    &-anim {
      height: 550px;
      canvas {
        position: absolute;
        left: -10px;
        top: 0px;
      }
    }
  }

  // card
  .card {
    &-block {
      display: block;
    }

    &-bird_left {
      position: absolute;
      transform: translateX(-30px);
      top: 90px;
      left: -100px;
    }

    &-wrapper {
      text-align: center;
      perspective: 1000px;
      transform-style: preserve-3d;
      width: 100%;
      height: 444px;
    }
  }

  // form
  .form {
    &-block {
      display: block;
    }

    &-layout {
      width: 100%;
    }
  }
  .input {
    textarea {
      resize: none;
      max-width: 440px;
      max-height: 100px;

      &:focus,
      &:valid {
        height: 80px;
      }
    }

    &-field {
      font-size: 15px;

      &:focus,
      &:valid {
        & + .input-label {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  // tab
  .tab {
    &-block {
      display: block;
    }

    &-layout {
      display: block;
      width: 100%;
      padding: 40px;
    }

    &-switch {
      display: flex;
      &-btn {
        height: 50px;
        padding: 12px 30px;
        font-size: 15px;
        line-height: 24px;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          background-color: #f4f4f4;
          color: $mainTextColor;
        }
      }

      &-content {
        margin-left: 0px;
        display: none;
      }
    }
  }
  .accordion {
    li {
      padding: 0;
      width: 100%;
    }

    &-title {
      font-size: 13px;
      line-height: 14px;
    }

    &-text {
      font-size: 12px;
      line-height: 15px;
      display: none;
      max-width: 240px;
    }
  }
}
